<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        body{
            text-align: center;
        }
        a{
            text-decoration: none;
            padding: 5px;
            border: 2px red solid;
            background-color: red;
            color: white;
        }
        table{
            margin-left: 10%;
        }

    </style>
</head>
<body>
    <h1>Hello!</h1>
    <h3>Welcome to Home Page.</h3>
    <div>
        <div style="float: right; margin-right: 10%" >
            <h2>Number of Registered Users</h2>
            <h3>{{ length }}</h3>
        </div>
        <table border="1">
            <caption> Registered Users</caption>
            <tr>
                <th>Username</th>
                <th>College Name</th>
            </tr>
            {% for i in info %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.college }}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
    <br>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
</body>
</html>